/*CSS
CSS should demonstrate:
● colors and typography✅
● spacing (margin / padding)✅
● layout organization✅
● hover effects✅
● borders or shadows✅
● visually consistent design✅
Students should move beyond simple vertical stacking(I have a hover navigation bar✅) and create a more structured layout.*/
*{
    margin: 0;
    padding:0;
}

body{
    background-color:  #D8959b;
    background: url(Green\ \ Vine\ Illustration\ Phone\ Wallpaper\ \(Website\)\ \(3\).png) center ;
    background-size: contain;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    max-width: 800px;
    display:block;
    margin:0 auto;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 200vh;
    height: 80px;
    background: #20413A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.logo{
    font-size: 28px;
    margin: 40 0px;
    font-weight: bold;
    color: #F1C8CB;
}
.hamburger{
 display: none;
}
.nav-bar ul{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;  
    list-style: none;  
    display: flex;
    justify-content: flex-end;
}
.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size:  20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: #11101b;
    background: #fefefe;
}
.nav-bar ul li a.active{
    color: #11101b;
    background-color: #fefefe;
}
nav li:first-child{
    margin-right: auto;
}
@media only screen and(max-width:200px){
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width:30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar{
        display:none;
    }
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh
}

.space{
    font-size: 1rem;/*just giving space for the webpage*/
    padding: 50px 10px;
    margin-bottom: 20px;
}

h2{
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgba(250,250,250,.7);
    box-shadow:  10px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}
#tag{
    color: rgb(77, 70, 99);
    text-align: center;
}

li{
    padding: 10px;
}

a:hover {
    color: pink;
}

a{
    color: rgb(77, 70, 99);
}

div.yap{
    padding: 20px 10px; 
    border-top: 1px solid black;
}

div.footnot{
    font-size: 0.5rem;
}
