:root{
    --base-color: #829672;
    --base-variant: #122b18; /*darker green*/
    --secondary-color: #D8959b; /*darker pink*/
    --secondary-variant:  #f4f3f1;/*white*/
    --secondary-variant2: #f4f3f1;/*black*/
    --text-color: black; /*black*/
}
.darkmode{
    --base-color: #382E31;
    --base-variant: #191516; /*darker green*/
    --secondary-color: #D8959b; /*darker pink*/
    --secondary-variant:  black;/*white*/
    --secondary-variant2: #f4f3f1;/*black*/
    --text-color: #f4f3f1;/*black*/
}


*{
    margin: 0;
    padding: 0;
}

body{
    background: url(greenbackground.png) center ;
    background-size: contain;
    font-size:20px;
    max-width: 800px;
    display:block;
    margin:0 auto;
}

body.darkmode {
    background: url('darkWallpaper .png') center; 
    background-size: contain;
    font-size:20px;
    max-width: 800px;
    display:block;
    margin:0 auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 200vh;
    height: 80px;
    background: var(--base-variant);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999;
}

.logo{
    font-size: 28px;
    margin: 40 0px;
    font-weight: bold;
    color: var(--secondary-variant2);
}

.nav-bar {
    position: fixed;
    top: 0 ;
    right: 0;
    display: flex;  
    list-style: none;  
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    z-index: 100;
}
.nav-bar li a{
    display: block;
    color: var(--secondary-variant2);
    font-size:  20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar .contact-logos a{
    display: inline-block;
    color: var(--secondary-variant2);
    font-size:  20px;
    padding: 20px 5px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 10 5px;
}

.nav-bar .contact-logos a:hover{
    color: var(--text-color);
    background: var(--base-color);
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 10px;
}
#menu{
    padding-bottom: 20%;
}
.nav-bar  .contact-logos a:hover svg {
    fill: white; 
}

.nav-bar li a:hover{
    color: var(--secondary-variant2);
    background: var(--base-color);
}
.nav-bar li a:hover svg {
    fill: white; 
}
.nav-bar li a svg {
    transition: fill 0.3s ease;
}
.nav-bar li a.active{
    color: var(--secondary-variant2);
    background-color: var(--secondary-color);
}
nav li:first-child{
    margin-right: auto;
}

@media (max-width: 850px) {/*if the screen is small the nav-bar goes away for readability*/
    #menu {
        display: block;
    }
    
    .nav-bar li:not(#menu) {
        display: none; 
    }
}

/*sidebar css*/
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 2000;
    background-color: rgba(255, 255, 255,0.7);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);/*creates white box to left*/
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none; /*edits text formatting*/
    backdrop-filter: blur(10px);
}

.sidebar li a:hover svg {
    fill: var(--secondary-variant2); 
}
.sidebar li a svg {
    fill: var(--base-variant);
    transition: fill 0.3s ease;
}
.sidebar li a{
    display: block;
    color: var(--base-variant);
    font-size:  20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    transition: color 0.3s ease;
}
.sidebar li a:hover{
    color: var(--secondary-variant2);
    background: var(--base-color);
}


/*first #home section image, typing-tagline*/
.container
{
    padding: 10rem 0px;
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.home{
    min-height: 80vh;
    display: flex;
    color: var(--text-color);
    position:relative;
    z-index: 1;
}
.home .home-info{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: left;
    position: relative;
    left:-5vh;
}

.home .home-info .intro{
    font-size: 30px;
}

h3.intro{
    font-size: 26px;
    margin: 15px 0;
}
h3.intro span{
    font-family: 'Clicker Script', cursive;
    font-size:  30px;
    font-weight: 700;
    color:var(--secondary-color);
}

.cursor{
    animation: blink 2s linear infinite;
    color:var(--secondary-color)
}
@keyframes blink{
    0%{
       opacity: 100%;
    }
    20%{
        opacity: 0%;
    }
    40%{
       opacity: 100%;
    }
}

h3.description{
    font-size: 30px;
    margin:15px 0
}
.typing{
    color:var(--secondary-color)
}

.home .home-img {
  flex: 0 0 40%;
  width: 100%;
  max-width: 150%;
  text-align: center;
  position: relative; /* Crucial: Keeps the pseudo-element inside the image bounds */
  display: inline-block; /* Wraps the container tightly around the image */
}

.home-img img {
  width: 150%; /* Ensures image fills the responsive container */
  height: auto;
  margin: auto;
  border-radius:5px;
  
}

.home-img::after {/*bottom right corner*/
  content: '';
  position: absolute;
  height: 15%;  /* Scaled based on image height */
  width: 15%;   /* Scaled based on image width */
  border-bottom: 0.5vw solid var(--secondary-color);  /* relative borders */
  border-right: 0.5vw solid var(--secondary-color);
  right: -60%;    /* Position*/ 
  bottom: -10%;
}
.home-img::before {/*bottom right corner*/
  content: '';
  position: absolute;
  height: 15%;  /* Scaled based on image height */
  width: 15%;   /* Scaled based on image width */
  border-top: 0.5vw solid var(--secondary-color);  /* relative borders */
  border-left: 0.5vw solid var(--secondary-color);
  left: -10%;    /* Position*/ 
  top: -10%;
}



/*hire button*/
.btn-hire{
    font-size: 16px;
    font-weight:500;
    padding: 12px 35px;
    color: var(--secondary-variant);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--secondary-color);
    transition: all 0.3s ease;
}
.btn-hire:hover{
    scale: 1.12;
    color: var(--secondary-color);
    background: #f4f3f1;
}
/*dark mode button*/
#btn-modeSwitch{
    position: fixed;
    bottom: 20px;   /* Distance from bottom */
    right: 20px;    /* Distance from right */
    padding: 15px 25px;
    background-color: #D8959b; /* Your theme color */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10000; /* High number to stay above everything else */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}
#btn-modeSwitch svg{
    fill:var(--secondary-variant);    
}
#btn-modeSwitch svg:last-child{
    display: none;
}
.darkmode #btn-modeSwitch svg:first-child{
    display: none;
}
.darkmode #btn-modeSwitch svg:last-child{
    display: block;
}
/*general header*/
h2{
    font-size: 1.5rem;
    padding: 10px;
    color: var(--base-variant);
    background-color: rgba(250,250,250,.7);
    box-shadow:  10px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}
.Contact a{
    padding-top: 20px;
}

p,form, h3{
    color: var(--text-color)
}
li{
    color: var(--text-color);
    padding: 1rem;
}
.skills-table td {
    padding: 0 80px; 
    vertical-align: top; 
}


a:hover {
    color: var(--secondary-color);
}

a{
    color: var(--secondary-color);
}

div.yap{
    padding: 20px 10px; 
    border-top: 1px solid var(--text-color);
}

div.footnot{
    font-size: 0.5rem;
}
